* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.tema-oscuro {
  background-color: #534e4e; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px; }
  header div {
    display: flex;
    flex-direction: column;
    width: 80%; }
    header div h1 {
      text-align: center; }
    header div div {
      flex-direction: row;
      align-self: flex-end;
      width: fit-content;
      margin: 25px 50px 0 0;
      gap: 5px; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; }
    main div form {
      margin: 15px 0 0 0;
      width: 50%; }
      main div form fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto; }
        main div form fieldset input {
          width: 95%;
          margin: 10px; }
        main div form fieldset button {
          margin: 0 0 5px; }
    main div:nth-child(3) {
      width: 40px;
      height: 40px;
      position: fixed;
      bottom: 1vh;
      left: 1vw;
      border: solid 3px black;
      border-radius: 100%; }

.cotizaciones {
  width: 50%;
  height: 50%;
  border: solid black 2px;
  position: fixed;
  left: 50vw;
  bottom: 50vh;
  transform: translate(-50%, 50%);
  border-radius: 10px;
  filter: drop-shadow(2px 3px 4px #8a888886);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb; }
  .cotizaciones table {
    width: 95%;
    border: solid 2px #F53527;
    border-collapse: collapse; }
    .cotizaciones table th {
      background-color: #F53527; }
    .cotizaciones table tr:nth-child(even) {
      background-color: #F57B27; }

.btn-tema {
  transition: ease 0.5s; }
  .btn-tema:hover {
    filter: saturate(50%) contrast(100%) invert(80%);
    transition: ease 0.5s; }
