* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn-tema {
  transition: ease-in-out 0.3s;
  cursor: pointer; }
  .btn-tema:hover {
    filter: saturate(100%) contrast(100%) brightness(50%);
    transition: ease-in-out 0.3s; }

.tema-oscuro {
  background-color: #002B26;
  color: #ffffffe7;
  transition: 0.3s ease-in-out; }
  .tema-oscuro h1, .tema-oscuro h2, .tema-oscuro h3, .tema-oscuro h4, .tema-oscuro h5, .tema-oscuro h6 {
    color: #ffffffee; }
  .tema-oscuro input:focus-visible {
    outline: 3px #1E8B7F solid; }
  .tema-oscuro button {
    color: #ffffffe7;
    border: #3f706b;
    background-color: #1E8B7F; }
  .tema-oscuro form {
    background-color: #00443D;
    color: #ffffffe7; }
  .tema-oscuro .cotizaciones {
    border: #3f706b;
    background-color: #002B26;
    color: #ffffffe7; }
    .tema-oscuro .cotizaciones th {
      background-color: #1E8B7F; }
    .tema-oscuro .cotizaciones tr {
      background-color: #00443D; }
      .tema-oscuro .cotizaciones tr:hover {
        background-color: #224744; }

.inactiva {
  pointer-events: none;
  opacity: 0.1;
  filter: blur(15px); }

body {
  background-color: #DBF6F2;
  transition: 0.3s ease-in-out; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px; }
  header div {
    display: flex;
    flex-direction: column;
    width: 80%; }
    header div h1 {
      text-align: center; }
    header div div {
      flex-direction: row;
      align-self: flex-end;
      width: auto;
      margin: 25px 50px 0 0;
      gap: 5px; }
      header div div form {
        gap: 5px; }
        header div div form input {
          padding: 6px;
          border-radius: 6px;
          border: solid #9BE1D8 3px; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; }
    main div form {
      margin: 15px 0 0 0;
      width: 50%;
      background-color: #d0f7f1; }
      main div form fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        border-width: 3px;
        border-color: #9BE1D8; }
        main div form fieldset legend {
          margin-left: 20px;
          padding: 0 10px; }
        main div form fieldset input {
          width: 95%;
          margin: 10px;
          padding: 6px;
          border-radius: 6px;
          border: solid 3px #9BE1D8; }
          main div form fieldset input:focus-visible {
            outline: 3px #50BBAF solid; }
        main div form fieldset button {
          margin: 0 0 5px; }
    main div:nth-child(3) {
      width: 40px;
      height: 40px;
      position: fixed;
      bottom: 1vh;
      left: 1vw;
      border: solid 3px #9BE1D8;
      border-radius: 100%; }

.cotizaciones {
  width: 50%;
  height: 25%;
  border: solid #9BE1D8 3px;
  position: fixed;
  left: 50vw;
  bottom: 50vh;
  transform: translate(-50%, 50%);
  border-radius: 10px;
  filter: drop-shadow(2px 3px 4px #8a888886);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d0f7f1;
  color: #315551;
  text-align: center;
  overflow-y: auto; }
  .cotizaciones h2 {
    margin: 10px; }
  .cotizaciones table {
    width: 95%;
    height: auto;
    border: solid 2px #36A094;
    border-collapse: collapse;
    margin: 15px; }
    .cotizaciones table th {
      background-color: #36A094; }
    .cotizaciones table tr {
      background-color: #DBF6F2; }
      .cotizaciones table tr:hover {
        background-color: #50BBAF; }
  .cotizaciones button {
    position: absolute;
    top: 1vh;
    right: 1vw; }

button {
  width: auto;
  color: #315551;
  border: solid 3px #9BE1D8;
  background-color: #36A094;
  padding: 6px;
  border-radius: 6px;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.3s ease-in-out; }
  button:hover {
    filter: brightness(130%);
    transition: 0.3s ease-in-out; }

h1, h2, h3, h4, h5, h6 {
  color: #233d3a; }
