@import "./utilities/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-tema {
    transition: ease-in-out 0.3s;
    cursor: pointer;
    &:hover {
        filter: saturate(100%) contrast(100%) brightness(50%);
        transition: ease-in-out 0.3s;
    }
}

.tema-oscuro {
    background-color: $dark-body-bgColor;
    color: $dark-text-color;
    transition: 0.3s ease-in-out;
    h1, h2, h3, h4, h5, h6 {
        color: $dark-title-color;
    }
    input {
        &:focus-visible {
            outline: 3px $dark-main-color solid;
        }
    }
    button {
    color: $dark-text-color;
    border: $dark-border-color;
    background-color: $dark-main-color;
    }
    form {
    background-color: $dark-container-color;
    color: $dark-text-color;
    }
    .cotizaciones {
        border: $dark-border-color;
        background-color: $dark-body-bgColor;
        color: $dark-text-color;
        th {
            background-color: $dark-main-color;
        }
        tr {
            background-color: $dark-container-color;
            &:hover {
                background-color: $dark-sec-color;
            }
        }
    }
}

.inactiva {
    pointer-events: none;
    opacity: 0.1;
    filter: blur(15px);
}

body {
    background-color: $body-bgColor;
    transition: 0.3s ease-in-out;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    div {
        display: flex;
        flex-direction: column;
        width: 80%;
        h1 {
            text-align: center;
        }
        div {
            flex-direction: row;
            align-self: flex-end;
            width: auto;
            margin: 25px 50px 0 0;
            gap: 5px;
            form {
                gap: 5px;
                input {
                    padding: 6px;
                    border-radius: 6px;
                    border: solid $border-color 3px;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        form {
            margin: 15px 0 0 0;
            width: 50%;
            background-color: $container-color;
            fieldset {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: auto;
                border-width: 3px;
                border-color: $border-color;
                legend {
                    margin-left: 20px;
                    padding: 0 10px;
                }
                input {
                    width: 95%;
                    margin: 10px;
                    padding: 6px;
                    border-radius: 6px;
                    border: solid 3px $border-color;
                    &:focus-visible {
                        outline: 3px $sec-main-color solid;
                    }
                }
                button {
                    margin: 0 0 5px;
                }
            }
        }
        &:nth-child(3) {
            width: 40px;
            height: 40px;
            position: fixed;
            bottom: 1vh;
            left: 1vw;
            border: solid 3px $border-color;
            border-radius: 100%;
        }
    }
}

.cotizaciones {
    width: 50%;
    height: 25%;
    border: solid $border-color 3px;
    position: fixed;
    left: 50vw;
    bottom: 50vh;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    filter: drop-shadow(2px 3px 4px #8a888886);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $container-color;
    color: $text-color;
    text-align: center;
    overflow-y: auto;
    h2 {
        margin: 10px;
    }
    table {
        width: 95%;
        height: auto;
        border: solid 2px $main-color;
        border-collapse: collapse;
        margin: 15px;
        th {
            background-color: $main-color;
        }
        tr {
            background-color: $body-bgColor;
            &:hover {
                background-color: $sec-main-color;
            }
        }
    }
    button {
        position: absolute;
        top: 1vh;
        right: 1vw;
    }
}

button {
    width: auto;
    color: $text-color;
    border: solid 3px $border-color;
    background-color: $main-color;
    padding: 6px;
    border-radius: 6px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
        filter: brightness(130%);
        transition: 0.3s ease-in-out;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $title-color;
}