@media (max-width: 1045px) {
    .cotizaciones {
        width: 85%;
        table {
            th{
                font-size: 1.125rem;
            }
            td{
                font-size: 1.120rem;
            }
        }
    }
}