@media (max-width: 1045px) {
    header {
        font-size: 1.125rem;
        div {
            width: 90%;
            h1 {
            }
            div {
                form {
                    input {
                    }
                }
            }
        }
    }

    main {
        div {
            form {
                width: 90%;
            }
        }
    }

    button{
        font-size: 1.125rem;
    }
}