@media (max-width: 1339px) {
    .cotizaciones {
        width: 80%;
        table {
            th {
                font-size: 1.39rem;
            }
            td {
                font-size: 1.25rem;
            }
        }
    }
} 
