$body-bgColor: #DBF6F2;
$container-color: #d0f7f1;
$border-color: #9BE1D8;
$main-color: #36A094;
$sec-main-color: #50BBAF;
$text-color: #315551;
$title-color: #233d3a;
$art-color: #88ece1;

$dark-body-bgColor: #002B26;
$dark-container-color: #00443D;
$dark-border-color: #3f706b;
$dark-main-color: #1E8B7F;
$dark-sec-color: #224744;
$dark-text-color: #ffffffe7;
$dark-title-color: #ffffffee;