@media (max-width: 768px) {
    .cotizaciones {
        width: 100%;
        table {
            th {
                font-size: 1rem;
            }
            td {
                font-size: 0.90rem;
            }
        }
    }
}